<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div>
        <p style="display: inline-block;">Home</p>
        <a href ="/project"><p style="display:inline-block;">Project</p></a>
        <a href="/contact"><p style="display:inline-block;">Contact</p></a>
    </div>
    <div>
        <h1>Abount Me!</h1>
    </div>
    <div class="content">
        <fieldset class="photo" style="display: inline-block">
            <input type="image" src="https://vignette.wikia.nocookie.net/sonicpokemon/images/0/01/152_chikorita_by_pklucario.png/revision/latest?cb=20130617041510" style="width: 200px;">
            <h1>Chikorita!</h1>
        </fieldset>
        <fieldset class="text" style="display: inline-block; vertical-align:top; width: 400px;">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore enim quis doloribus voluptatibus magnam rem, ut ad animi dolores provident dolor facilis odio totam inventore quaerat architecto iure, officia aspernatur!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore enim quis doloribus voluptatibus magnam rem, ut ad animi dolores provident dolor facilis odio totam inventore quaerat architecto iure, officia aspernatur!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore enim quis doloribus voluptatibus magnam rem, ut ad animi dolores provident dolor facilis odio totam inventore quaerat architecto iure, officia aspernatur!</p>
        </fieldset>
    </div>
    
</body>
</html>